html	{}
body	{background-image:url("../images/tulips.jpg");
font-family: Monotype Corsiva;}
#outter		{width:980px; margin:0 auto; background-color:#000000;}
#container	{width:900px; margin:0 auto; background-color:#FFFFE7;}
/*heading*/
h1, h2, h3 {font-weight: bold;}

h1 {font-family:Impact, Charcoal, sans-serif; font-size:25px; padding:15px; color:#BE4F1B; border-bottom:3px #A34F1B solid;}
h2 {font-family:Impact, Charcoal, sans-serif; font-size:20px; padding:15px; color:#BE4F1B; margin-bottom:10px;}

#logo		{margin:0px 0;  float:left; }
#content	{width:650px; float:left; margin-bottom:30px;}

#footer		{clear:both; margini-bottom:20px; margin-top:20px; border-top:1px #AB9F0C solid; padding-bottom:20px;}
/*Forms*/
form ol	{list-style-type:none;}
#formss		{background-color:none; border: 1px #AB9F0C solid; margin-right:10px; margin-top:65px; margin-bottom:20px; padding: 0px 15px;}

#formss input		{margin:10px; padding:10px;}

#formss 
#login			{margin: 0 0 0 0; font-family:Monotype Corsiva; font-size:12px; font-style:italic; border-top:1px #AB9F0C solid; border-bottom:1px #AB9F0C solid; border-left: 1px #C8C411 solid; border-right: 1px #C8C411 solid; padding:0px 10px 0px 10px;}
#login ul li 	{display:inline;}
#login ul		{margin-top:30px;}
#navi		{clear:both;}
	/*Descendant selectors*/
	#navi ul		{border-top:3px #0D8EFF solid; border-bottom:3px #0D8EFF solid; border-left: 3px #0D8EFF solid; border-right: 3px #0D8EFF solid;
						margin:20px 0px; padding: 30px 0;}
.header {
	background-color: #E87126;
	background-repeat: no-repeat;
	background-size: 100% 100px;
	height: 50px;
#h-navbar {
	font-size: 90%;
	color: #BE4F1B;
        font-family:Impact, Charcoal, sans-serif;
	background-color: #090;
	background-image: url(background.jpg);
	background-repeat: repeat-x;
	text-align: right;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #060;
}

.footer {
	padding: 10px 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	color: #fff;
	background-color: #E87126;
	
}
#apDiv1 {
	position:absolute;
	width:170px;
	height:150px;
	z-index:1;
	margin-top: 15px;
	margin-left: 30px;
}

					
				